    .bg-light {
      background-color: #f4f5f8;
    }

    .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;
    }

    .login-card {
      width: 90%;
      max-width: 360px;
      margin: auto;
      border-radius: 16px;
      box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    }

    ion-card-title {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 8px;
    }

    ion-item {
    margin-bottom: 20px; 
    }

    ion-button {
      --border-radius: 8px;
    }


ion-label {
  color: #ffffff !important; 
}

ion-input {
  color: #ffffff !important;
}

ion-item.ion-valid,
ion-item.ion-invalid {
  --highlight-color-valid: #ffffff;
  --highlight-color-invalid: #ffffff;
}



    