@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/* html, body {
  height: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
} */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

ion-app, ion-router-outlet, app-root {
  height: 100%;
  display: block;
}


body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* :root {
  --app-background: linear-gradient(180deg, #5EB8FF 0%, #8DD8FF 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
} */

/* :root {
  --app-background: linear-gradient(180deg, #5c6bc0 0%, #42a5f5 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
} */

/* :root {
  --app-background: linear-gradient(180deg, #0d1422 0%, #1a2235 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
} */
/* :root {
  --app-background: linear-gradient(180deg, #3a6fb0 0%, #5b8ed4 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
} */

/* :root {
  --app-background: linear-gradient(180deg, #5f9ed9 0%, #a3c8f2 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
} */

:root {
  --app-background: linear-gradient(180deg, #344a68 0%, #597ba5 100%);
  --ion-background-color: var(--app-background);
  --ion-text-color: #ffffff;
}

ion-toast {
  --max-width: 350px;
  --border-radius: 10px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  ion-popover {
    margin-left: 25px;
    margin-top: 15px;
  }
}

.apexcharts-legend-text {
  color: #eae2d1 !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.apexcharts-yaxis-texts-g {
  color: #eae2d1 !important;
}

.apexcharts-tooltip {
  background: rgba(28, 35, 50, 0.95) !important;
  color: white !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(8px);
  padding: 10px 14px !important;
}

.apexcharts-tooltip-title {
  background: transparent !important;
  color: #fff !important;
  border: none !important;
  padding: 6px 10px !important;
}

ion-content {
  --background: radial-gradient(circle at 30% 20%, rgba(120, 140, 255, 0.25), transparent 60%),
    radial-gradient(circle at 70% 80%, rgba(80, 200, 255, 0.25), transparent 60%),
    linear-gradient(to bottom, #2c3554, #1c2440);
}

body.backdrop-no-scroll {
  overflow-y: auto !important;
}

ion-alert {
  .alert-radio-label {
    color: #ffffff !important;
  }
}
